.page-root {
    display: flex;
    flex-flow: column nowrap;
    height: 100%;
    width: 100%;
    background-color: #e5edef;
}
.page-head {
    display: flex;
    flex-flow: row nowrap;
    height: 35px;
    padding: 0 5px;
    background: #1871dd;
}
.page-body {
    margin: 5px;
    flex-grow: 1;
    display: flex;
    flex-flow: row nowrap;
}
.page-body-left {
    display: flex;
    overflow: hidden;
    flex-direction: column;
    flex-shrink: 0;
    width: 200px;
    background-color: #fff;
    padding: 1px;
    border: #4875a4 1px solid;
}
.page-body-right {
    display: flex;
    margin-left: 5px;
    flex-direction: column;
    flex-wrap: nowrap;
    width: calc(100% - 215px);
    flex-grow: 1;
}
.route-content {
    flex-grow: 1;
    background-color: #ffffff;
}
.route-history-bar {
    width: 100%;
    overflow: hidden;
    overflow-x: scroll;
    overflow-y: hidden;
    &::-webkit-scrollbar {
        display: none;
    }
}
.route-history-item-container {
    display: flex;
    flex-flow: row nowrap;
    height: 25px;
    padding: 2px 5px 0;
    width: calc(100% - 10px);
    border-bottom: #4875a4 solid 1px;
}
.route-history-item {
    height: 24px;
    font-size: 14px;
    text-align: center;
    border: #4875a4 solid;
    border-radius: 5px 5px 0 0;
    border-width: 1px 1px 0;
    margin-left: 5px;
    flex-shrink: 0;
    &:nth-child(1) {
        margin-left: 0;
    }
    &.selected {
        z-index: 1;
        background-color: #ffffff;
        border-bottom: #ffffff 2px solid;
    }
    span {
        display: inline-block;
        min-width: 80px;
        padding: 0 15px;
    }
}
.trans-on-\.5s {
    transition: all 0.5s;
}
