.page-head-nav {
    font-weight: 700;
    margin-top: 4px;
    height: 27px;
    line-height: 27px;
    font-size: 14px;
    padding: 0 15px;
    border-radius: 5px;
    color: #ffffff;
    cursor: pointer;
    &.selected {
        color: #5198d1;
        background: #e5edef;
    }
}
