.sub-menu-nav {
    display: flex;
    flex-direction: column;
    flex-grow: 0;
    transition: all .5s;
}

.sub-menu-nav span {
    width: 100%;
    overflow: hidden;
    display: block;
    padding-left: 5px;
    height: 25px;
    font-size: 12px;
    line-height: 24px;
    flex-grow: 0;
}

.sub-menu-nav-title {
    box-shadow: inset 0 0 2px 1px rgba(148, 165, 185, .5);
    transition: all .5s;
}

.sub-menu-nav.selected {
    flex-grow: 1;
}

.sub-menu-nav.selected .sub-menu-nav-title {
    border: none;
    box-shadow: none;
    background: #4875a4;
    color: #ffffff;
}

.sub-menu-nav.selected > span {
    color: #ffffff;
}

.route-menu-bar::-webkit-scrollbar {
    display: none;
}

.route-menu-bar {
    flex-grow: 1;
    overflow-y: scroll;
    overflow-x: hidden;
}